@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
@using HairSalon.Models

<h2>Client Details:</h2><br>

<h5>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h5>
<h5>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<h5><br>
        <p>@Html.ActionLink("Edit Client!", "Edit", new { id = Model.ClientId })</p>
        <p>@Html.ActionLink("Remove Client!", "Delete", new { id = Model.ClientId })</p>
        <p>@Html.ActionLink("Back to the list!", "Index")</p>